@model IEnumerable<CrudSecApp.Models.ApplicationPermission>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h2>Permisos</h2>

<p>
    <a asp-action="Create">New Permiso</a>
</p>
<form asp-controller="ApplicationPermissions" asp-action="Index" method="get">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Filter" class="btnt btn-sm btn-dark" />
    </p>
</form>
<div class="table-responsive">
    <table class="table" style="white-space: nowrap; overflow-x: auto;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Permission)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationSection)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModificadoPor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Permission)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationSection.Section)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModificadoPor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="container">
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">
                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="ApplicationPermissions" asp-action="Index" asp-route-pg="1">First</a>
                    </li>
                    <li>
                        <a class="page-link" asp-controller="ApplicationPermissions" asp-action="Index" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-controller="ApplicationPermissions" asp-action="Index" asp-route-pg="@pge">@pge</a>
                    </li>
                }

                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="ApplicationPermissions" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                    </li>
                    <li>
                        <a class="page-link" asp-controller="ApplicationPermissions" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                    </li>
                }

            </ul>
        }
    </div>
</div>